{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}


{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/buttons.html.twig' as buttons %}

{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}

<div class="asset">

    {{ include('components/form/header.html.twig', {'in_twig': true, 'no_header': true}) }}
    {% set params = params ?? [] %}

    <div class="card-body d-flex flex-wrap">
        <div class="col-12 col-xxl-12 flex-column">
            <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
                <div class="row flex-row align-items-start flex-grow-1">
                    <div class="row flex-row">

                        {% if item.isField('tam_login') %}
                        {{ fields.checkboxField(
                        'tam_login',
                        item.fields['tam_login'],
                        __('Enable quick login to TAM', 'tam'),
                        options
                        ) }}
                        {% endif %}

                    </div> {# .row #}
                </div> {# .row #}
            </div> {# .flex-row #}
        </div> {# .flex-column #}
    </div> {# .flex-wrap #}

    {{ include('components/form/buttons.html.twig') }}
</div>