{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}

<div class="card p-2">
    {{ fields.largeTitle(
    __('TAM Management', 'tam'),
    'fa fa-stopwatch'
    ) }}
    <div class="container d-flex flex-sm-wrap flex-nowrap justify-content-center align-items-middle">
        <div class="flex-grow-1 d-md-flex">
            <div class="flex-grow-1 p-4 text-center">
                <a href="{{ call('Plugin::getWebDir', ['tam']) }}/front/admin.form.php">
                    <div class="d-flex flex-column">
                        <i class='far fa-calendar-alt fa-5x'></i>
                        <span class="mt-2">{{ __('TAM Users', 'tam') }}</span>
                    </div>
                </a>
            </div>
            <div class="flex-grow-1 p-4 text-center">
                <a href="{{ call('Plugin::getWebDir', ['tam']) }}/front/log.php">
                    <div class="d-flex flex-column">
                        <i class='fas fa-book fa-5x'></i>
                        <span class="mt-2">{{ __('TAM Logs', 'tam') }}</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-grow-1 d-md-flex">
            <div class="flex-grow-1 p-4 text-center">
                <a href="{{ call('Plugin::getWebDir', ['tam']) }}/front/leave.php">
                    <div class="d-flex flex-column">
                        <i class='far fa-calendar-times fa-5x'></i>
                        <span class="mt-2">{{ __('Leaves', 'tam') }}</span>
                    </div>
                </a>
            </div>
            <div class="flex-grow-1 p-4 text-center">
                <a href="{{ call('Plugin::getWebDir', ['tam']) }}/front/forgot.php">
                    <div class="d-flex flex-column">
                        <i class='fas fa-stopwatch fa-5x'></i>
                        <span class="mt-2">{{ __('Forgotten timer', 'tam') }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>