{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% extends 'generic_show_form.html.twig' %}

{% block more_fields %}
{% set field_options = {} %}

{% if item.isField('code') %}
{{ fields.textField(
'code',
item.fields['code'],
__('Code', 'tam'),
field_options
) }}
{% endif %}

{% if item.isField('on_working_time') %}
{{ fields.checkboxField(
'on_working_time',
item.fields['on_working_time'],
__('On working time', 'tam'),
field_options
) }}
{% endif %}

{% if item.isField('is_default') %}
{{ fields.checkboxField(
'is_default',
item.fields['is_default'],
__('Mark as default', 'tam'),
field_options
) }}
{% endif %}

<script>
    $('textarea').attr('rows', 1);
    $('h3 span').attr('class', 'ms-2');
    $('h3 span').text(__('Leaving Reason', 'tam'));
</script>

{% endblock %}