{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/buttons.html.twig' as buttons %}
{% extends 'layout/page_card_notlogged.html.twig' %}

{% block content_block %}
<form action="{{ path(redirect) }}" method="post" autocomplete="off" data-submit-once>
    <input type="hidden" name="noAUTO" value="{{ noAuto }}" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="TamLogout" value="1" />

    <div class="row justify-content-center">
        {% if user %}
        <div class="card border-0 shadow-none p-0 m-0">
            <div class="w-100 text-center">
                <i class="fa fa-user-clock fa-xl"></i>
            </div>
            <div class="card-header mb-3">
                <h4 class="card-title w-100 text-center">
                    {{ __('Welcome') ~ ' ' ~ user }}
                </h4>
            </div>
        </div>

        <div class="form-footer row text-center">
            <input type="hidden" id='tam_{{rand}}' name='action' value='{{tam_action}}'>
            <input type="hidden" id='tam_{{rand}}' name='timer_id' value='{{tam_timer}}'>

            <div class="mb-3">
                <span>{{ __('You will be logged out once you press the button.','tam') }}</span>
            </div>
            {% if tam_action == 'start' %}

            <div class="w-100 mb-3">
                <button type="submit" class="btn btn-success" tabindex="3">
                    {{ __('Start') }}
                </button>
            </div>
            {% else %}
            <div class="col">
                {{ fields.dropdownField(
                'PluginTamReason',
                'reason',
                '',
                __('Reason for leaving', 'tam'),
                {
                'displaywith': ['code'],
                'field_class': '',
                'input_class': 'd-flex justify-content-center',
                'label_class': 'text-xxl-center',
                'width': 'auto',
                }) }}

                {% set tamconfirm = __('The default output option will be selected', 'tam') %}

                <div class="w-100 mb-3">
                    <button id='tambtn' class="btn btn-warning" tabindex="3"
                        onclick="if(!confirm('{{tamconfirm}}')) return false;">
                        {{ __('End') }}
                    </button>
                </div>

                <script>
                    // * Twig templates error with ajax tooltips
                    $('.tooltip-invisible').addClass('d-none');
                    document.addEventListener("DOMContentLoaded", () => {
                        $('select[id^=dropdown_reason]').bind('change', (e) => {
                            setTimeout(() => {
                                if ($('span[id^=select2-dropdown_reason]').attr('title') == '-----') {
                                    $('select[id^=dropdown_reason]').empty();
                                    $('select[id^=dropdown_reason]').append('<option value="{{default_reason}}" selected>-----</option>');
                                    $('#tambtn').attr('onclick', "if(!confirm('{{ tamconfirm }}')) return false;");
                                } else {
                                    $('#tambtn').attr('onclick', "");
                                }
                            }, 100);
                        });

                        $('#tambtn').bind('click', () => {
                            if ($('span[id^=select2-dropdown_reason]').attr('title') == '-----') {
                                $('select[id^=dropdown_reason]').empty();
                                $('select[id^=dropdown_reason]').append('<option value="{{default_reason}}" selected>-----</option>');
                                $('#tambtn').attr('onclick', "if(!confirm('{{ tamconfirm }}')) return false;");
                            }
                        });
                    });
                </script>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}

{% block footer_block %}
{{ copyright_message|raw }}
{% endblock %}