{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}
{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/buttons.html.twig' as buttons %}

<div class="accordion" id="accordion">
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#tamLeavings"
                    aria-expanded="true" aria-controls="tamLeavings">{{ __('Leavings', 'tam') }}</button>
            </h5>
        </div>
        <div id="tamLeavings" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
            <div class="card-body">
                <table class="table my-2">
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Working</th>
                        <th>Status</th>
                        <th>Reason</th>
                        <th>Still Working</th>
                    </tr>
                    {% for row in lastTams %}
                    <tr>
                        {% for key, column in row %}
                        {% if key == 'status' %}
                        {% set statusName = call('PluginTamStatus::getStatusName', [column]) %}
                        <td>{{ statusName }}</td>
                        {% else %}
                        <td>{{ column }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#tamForgotten"
                    aria-expanded="true" aria-controls="tamForgotten">{{ __('Forgotten', 'tam') }}</button>
            </h5>
        </div>
        <div id="tamForgotten" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
            <div class="card-body">
                <table class="table my-2">
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Working</th>
                        <th>Status</th>
                        <th>Fixed</th>
                        <th></th>
                    </tr>
                    {% for row in forgottenTams %}
                    <tr>
                        {% for key, column in row %}
                        {% if key == 'id' %}
                        {% elseif key == 'status' %}
                        {% set statusName = call('PluginTamStatus::getStatusName', [column]) %}
                        <td>{{ statusName }}</td>
                        {% else %}
                        <td>{{ column }}</td>
                        {% endif %}
                        {% endfor %}

                        {% set statusFixed = call('PluginTamManagement::checkForgottenTam', [row['id']]) %}
                        {% if statusFixed['count'] != 0 %}
                        <td>{{ call('PluginTamStatus::getStatusName', [2]) }}</td>
                        {% else %}
                        <td>
                            <input type='button' id='tam_{{rand}}' class="btn py-0 border border-warning"
                                fix_id="{{row['id']}}" value="{{__('Fix TAM', 'tam') }}" title="TAM"
                                data-bs-toggle="modal" data-bs-target="#modalContainer">
                            <script>
                                $('#tam_{{rand}}').bind('click', (e) => {
                                    var fix_id = $('#tam_{{rand}}').attr('fix_id');
                                    $('#fix_tam_input').val(fix_id);
                                });
                            </script>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{__('Forgotten TAM', 'tam')}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{{ _x('button', 'Close') }}"></button>
                </div>
                <div class="modal-body overflow-auto">
                    <form class="form" action="/plugins/tam/front/login.php" method="POST">
                        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
                        <input type="hidden" name='redirect' value="front/preference.php">
                        <div class="w-100 ">
                            <input id="fix_tam_input" type="hidden" name="TamFix">
                            {{ fields.datetimeField(
                            'date_end',
                            '',
                            __('Date end', 'tam'),
                            {
                            'field_class': 'col-sm-8 col-8 col-xxl-8',
                            }
                            ) }}
                        </div>
                        <div class="w-100 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">{{__('Send')}}</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>