{#
-------------------------------------------------------------------------
TAM plugin for GLPI
Copyright (C) 2021-2023 by the TICgal Team.
https://www.tic.gal
-------------------------------------------------------------------------
LICENSE
This file is part of the TAM plugin.
TAM plugin is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
TAM plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with TAM. If not, see
<http: //www.gnu.org/licenses />.
--------------------------------------------------------------------------
@package TAM
@author the TICgal team
@copyright Copyright (c) 2021-2023 TICgal team
@license AGPL License 3.0 or (at your option) any later version
http://www.gnu.org/licenses/agpl-3.0-standalone.html
@link https://www.tic.gal
@since 2021
----------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% import 'components/form/buttons.html.twig' as buttons %}

<form name='forgottenTAM' method='post' action="{{ action }}">
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="entities_id" value="{{ entity }}" />
    <input type="hidden" name="id" value="{{ item.fields['id'] }}" />
    <table class="tab_cadre_fixe my-3">
        <tr>
            <th colspan="2">{{ __('Forgotten TAM', 'tam') }}</th>
        </tr>
        <tr>
            <td>
                {{ fields.checkboxField(
                'create_ticket',
                item.fields['create_ticket'],
                __('Create a ticket to correct the timer', 'tam'),
                {
                'field_class': 'col-12',
                'label_class': 'col-6',
                'input_class': 'col-6'
                }
                ) }}
            </td>
            <td>
                {{ fields.dropdownField(
                'TicketTemplate',
                'tickettemplates_id',
                item.fields['tickettemplates_id'],
                __('Ticket template', 'tam'),
                {
                'field_class': 'col-12',
                'label_class': 'col-6',
                'input_class': 'col-6'
                }
                ) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ fields.checkboxField(
                'create_task',
                item.fields['create_task'],
                __('Create a task for user', 'tam'),
                {
                'field_class': 'col-12',
                'label_class': 'col-6',
                'input_class': 'col-6'
                }
                ) }}
            </td>
            <td>
                {#
                {{ fields.dropdownField(
                'TaskTemplate',
                'tasktemplates_id',
                item.fields['tasktemplates_id'],
                __('Task template', 'tam'),
                {
                'field_class': 'col-12',
                'label_class': 'col-6',
                'input_class': 'col-6',
                'disabled': true
                }
                ) }}
                #}
            </td>
        </tr>
        <tr>
            <td class="tab_bg_2 center" colspan="2">
                <input type="submit" name="update" value="Save" class="submit">
            </td>
        </tr>
    </table>
</form>